@tailwind base;
@tailwind components;
@tailwind utilities;

@function darken-color($color, $percentage) {
  $darkened: darken($color, $percentage);

  $red: red($darkened);
  $green: green($darkened);
  $blue: blue($darkened);

  @return #{$red} #{$green} #{$blue};
}

@function generate-color-shades($color, $steps) {
  $shades: ();
  $step: calc(60 / $steps);

  @for $i from 1 through $steps {
    $darkened-color: darken-color($color, $step * $i);
    $shades: map-merge($shades, ($i * 100: $darkened-color));
  }

  @return $shades;
}

@layer base {
  :root {
    $color-shades: generate-color-shades(#ffe8e8, 9);

    @each $shade, $value in $color-shades {
      --color-primary-#{$shade}: #{$value};
    }
  }

  $colors-with-hex: (
    "red": #ffdbdb,
    "pink": #ffddfd,
    "blue": #e8ebff,
    "violet": #eedcff,
    "yellow": #ffffdc,
  );

  @each $color-name, $color-code in $colors-with-hex {
    html[data-theme="#{$color-name}"] {
      $color-shades: generate-color-shades($color-code, 9);

      @each $shade, $value in $color-shades {
        --color-primary-#{$shade}: #{$value};
      }
    }
  }
}
